@import url('https://fonts.googleapis.com/css?family=Raleway:200');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #B993D6;
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
  background: linear-gradient(to right, #8CA6DB, #B993D6);
}

.main {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 5px;
}

.top {
  height: 700px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.updateTime {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 10px;
  margin-top: auto;
}

.cloud-icon {
  width: 5%;
  height: auto;
}

.rain-icon {
  width: 7%;
  height: 7%;
}

.paragraph {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 530;
  font-size: 1.8rem;
}


.right-top-main {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 25px;
}


#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 100px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 30px;
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}