* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #B993D6;
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
  background: linear-gradient(to right, #8CA6DB, #B993D6);
  display: flex;
  justify-content: center;
}


.title {
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 5px;
}

.top {
  height: 700px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.updateTime {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 10px;
  margin-top: auto;
}

.cloud-icon {
  width: 5%;
  height: auto;
}

.rain-icon {
  width: 7%;
  height: 7%;
}

.paragraph {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 530;
  font-size: 1.8rem;
}


.right-top-main {
  display: flex;
  justify-content: flex-end;
}

.right-top-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid black;
  width: 250px;
  height: 80px;
  font-size: 2rem;
  font-weight: 800;
}