@import url('https://fonts.googleapis.com/css?family=Raleway:200');

* {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
}

body {
  background: #B993D6;
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
  background: linear-gradient(to right, #8CA6DB, #B993D6);
}

.main {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nodot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 800;
  gap: 20px;
  width: 500px;
  height: 100px;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: medium solid rgb(39, 39, 39);
  border-radius: 10px;
  width: 100px;
  height: 50px;
  gap: 5px;
  text-decoration: none;
  color: black;
}

.warn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: medium solid rgb(39, 39, 39);
  border-radius: 10px;
  width: 250px;
  height: 50px;
  gap: 5px;

}


.homepng {
  width: 30%;
  height: auto;

}

.warnpng {
  width: 20%;
  height: 80%;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 5px;
}

.top {
  height: 700px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.updateTime {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 10px;
  margin: 20px;
  margin-top: auto;
}

.cloud-icon {
  width: 5%;
  height: auto;
}

.rain-icon {
  width: 7%;
  height: 7%;
}

.paragraph {
  font-weight: 530;
  font-size: 1.8rem;
  line-height: 2;
}


.right-top-main {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 25px;
}


#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 100px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 30px;
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@media screen and (max-width:570px) {

  .top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    margin-right: 5px;
  }

  .right-top-main {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
  }


  .title {
    margin: 5px;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: left;
  }

  .paragraph {
    margin: 5px;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.8;
  }


  #box {
    width: 39.9%;
    height: auto;
    font-size: 1.3rem;
    padding: 5px;
    text-align: left;
  }

  .updateTime {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-bottom: auto;
  }

  .time-title {
    font-size: 0.5rem
  }

  .cloud-icon {
    width: 8%;
    height: auto;
  }

  .rain-icon {
    width: 7%;
    height: 7%;
  }


}